.brand-gradient {
    background: linear-gradient(180deg, #00c866 0%, #242424 100%);    
}

.bg-gradinent-trasparent {
    background: linear-gradient(180deg, #24242456 0%, #242424 100%);    
}

.song-counter {
    min-width: 20px;
}

.jumbotron {
    padding-top: 100px;
}

#artist-background {
    background-position: center -50px;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
}

.text-shadow * {
    text-shadow: 0 0 5px #000;
}